header {

    align-items: center;
    text-align: center;
}
main{

display:flex;
padding: 500px;
gap: 10px;
}



.container1{
    padding: 50px;
    background-color: cadetblue;
    border-radius: 20px ;
}


